body {
  background-color: #333;
}
.overlay::before {
  content: '';
  background: url('./todo.jpg') no-repeat center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}
